.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 25vh;
  align-items: center;
  justify-content: space-around;
}

.input {
  width: 100%;
  height: 5vh;
}

.button {
  width: 30%;
}